* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  /* Primary */

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 575px;
  position: relative;
  margin: auto auto;
  display: flex;

  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 10px 10px 30px var(--light-lavender);
}

.result {
  background: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  width: 275px;

  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  font-size: 64px;
}

.result h1,
.result h2 {
  color: var(--white);
}

.result h4,
.result p {
  color: var(--pale-blue);
}

.result-c {
  position: relative;
  margin: auto;
  border-radius: 50%;
  background: linear-gradient(
    to top,
    var(--light-slate-blue),
    var(--cobalt-blue)
  );
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
}

.summary .title {
  display: flex;
  gap: 10px;
}
.summary .score {
  color: black;
  font-weight: 800;
}
span {
  color: gray;
}

.s-reaction,
.s-memory,
.s-verbal,
.s-visual {
  display: flex;
  padding: 10px;
  width: 275px;
  justify-content: space-between;
  border-radius: 10px;
}

.s-reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  font-weight: 700;
  color: var(--light-red);
}
.s-memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  font-weight: 700;
  color: var(--orangey-yellow);
}
.s-verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  font-weight: 700;
  color: var(--green-teal);
}
.s-visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  font-weight: 700;
  color: var(--cobalt-blue);
}

.summary a {
  text-decoration: none;
  color: var(--white);
  padding: 10px 50px;
  text-align: center;
  background-color: var(--dark-gray-blue);
  border-radius: 25px;
}
.summary a:hover {
  background: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

@media (max-width: 500px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
